.section-contact {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.4s linear;
}

.contact-part {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 18rem;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.contact-part .contact-heading {
    font-weight: 500;
    margin-bottom: 4rem;
}

.contact-para {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 400;
    max-width: 100%;
}

.section-contactmore {
    transition: all 0.4s linear;
    padding: 9rem 0;
}

.section-contactmore .container {
    max-width: 160rem;
}

.section-contactmore .contact-main {
    gap: 8rem;
    margin-top: 20rem;
}

.contact-data {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: start;
}

.contact-data h2 {
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 5rem;
}

.contact-data h3 {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 3rem;
}

.contact-links {
    margin-top: 1rem;
}

.contact-links a i {
    color: var(--black);
}

.contact-links a i:hover {
    color: grey;
}

.contact-form-part {
    display: flex;
    justify-content: end;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 0;
    width: 100%;
    gap: 3rem;
}

.form .input-main {
    gap: 4rem;
}

.input-part {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.input-part label {
    color: var(--black);
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0px;
}

.input-part input,
.input-part textarea {
    width: 100%;
    padding: 1rem 0;
    border: 0;
    border-bottom: 1px solid var(--black);
    outline: 0;
    font-size: 2rem;
    color: var(--black);
    background-color: var(--gradient2);
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: capitalize;
    resize: none;
}

.form .form-btn {
    color: var(--white);
    border: 1px solid var(--black);
    background: var(--black);
    font-weight: 400;
    margin-top: 2rem;
    border-radius: 30px;
    transition: all 0.2s linear;
    padding: 2rem 2rem;
    width: 50%;
}

.form .form-btn:hover {
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    padding: 2rem 2rem;
    font-weight: 400;
}